<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Swift.org</string>
		<key>sub</key>
		<array>
			<dict>
				<key>name</key>
				<string>Swift.org</string>
				<key>url</key>
				<string>https://swift.org/</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Natasha The Robot</string>
		<key>sub</key>
		<array>
			<dict>
				<key>name</key>
				<string>Natasha The Robot</string>
				<key>url</key>
				<string>https://www.natashatherobot.com/</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>NSHipster</string>
		<key>sub</key>
		<array>
			<dict>
				<key>name</key>
				<string>NSHipster 英文</string>
				<key>url</key>
				<string>http://nshipster.com</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Jamesonquave</string>
		<key>sub</key>
		<array>
			<dict>
				<key>name</key>
				<string>Jamesonquave</string>
				<key>url</key>
				<string>http://jamesonquave.com/blog/</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Objc中国</string>
		<key>sub</key>
		<array>
			<dict>
				<key>name</key>
				<string>Objc中国</string>
				<key>url</key>
				<string>https://objccn.io/issues/</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Appcoda</string>
		<key>sub</key>
		<array>
			<dict>
				<key>name</key>
				<string>Appcoda</string>
				<key>url</key>
				<string>http://www.appcoda.com/</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>SwiftGG</string>
		<key>sub</key>
		<array>
			<dict>
				<key>name</key>
				<string>SwiftGG</string>
				<key>url</key>
				<string>http://swift.gg/</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>中文牛人博客</string>
		<key>sub</key>
		<array>
			<dict>
				<key>name</key>
				<string>OneV&apos;s Den</string>
				<key>url</key>
				<string>http://onevcat.com</string>
			</dict>
			<dict>
				<key>name</key>
				<string>一只魔法师的工坊</string>
				<key>url</key>
				<string>http://blog.ibireme.com</string>
			</dict>
			<dict>
				<key>name</key>
				<string>破船之家</string>
				<key>url</key>
				<string>http://beyondvincent.com</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Limboy 无网不剩</string>
				<key>url</key>
				<string>http://feeds.feedburner.com/lzyy</string>
			</dict>
			<dict>
				<key>name</key>
				<string>唐巧的技术博客</string>
				<key>url</key>
				<string>http://blog.devtang.com</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Ted&apos;s Homepage</string>
				<key>url</key>
				<string>http://wufawei.com/feed</string>
			</dict>
			<dict>
				<key>name</key>
				<string>sunnyxx的技术博客</string>
				<key>url</key>
				<string>http://blog.sunnyxx.com</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Kevin Blog</string>
				<key>url</key>
				<string>http://zhowkev.in</string>
			</dict>
			<dict>
				<key>name</key>
				<string>阿毛的蛋疼地</string>
				<key>url</key>
				<string>http://www.xiangwangfeng.com</string>
			</dict>
			<dict>
				<key>name</key>
				<string>亚庆的 Blog</string>
				<key>url</key>
				<string>http://billwang1990.github.io</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Nonomori</string>
				<key>url</key>
				<string>http://nonomori.farbox.com/feed</string>
			</dict>
			<dict>
				<key>name</key>
				<string>言无不尽</string>
				<key>url</key>
				<string>http://tang3w.com</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Wonderffee&apos;s Blog</string>
				<key>url</key>
				<string>http://wonderffee.github.io</string>
			</dict>
			<dict>
				<key>name</key>
				<string>I&apos;m TualatriX</string>
				<key>url</key>
				<string>http://imtx.me/feed/latest/</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
